<%@ Page language="c#" Codebehind="ManageWatermark.aspx.cs" AutoEventWireup="false" Inherits="Neato.Dol.WebAdmin.ManageWatermark" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>ManageWatermark</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="GridLayout">
	
    <form id="Form1" method="post" runat="server">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="600" height="330" id="WatermarkEditor" align="middle" VIEWASTEXT>
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="movie" value="Flash/WatermarkEditor.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" /><embed src="Flash/WatermarkEditor.swf" quality="high" bgcolor="#ffffff" width="600" height="330" name="WatermarkEditor" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</object>
     </form>
	
  </body>
</html>
