/* Flash standrad components */
.Button {
    fontFamily: Arial;
}

.ComboBox {
    backgroundColor: 0x4F4F4F;
    borderStyle: solid;
    borderColor: 0x7C7C7C;
}

.TextInput {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFEF31;
    backgroundColor: 0x4F4F4F;
    borderStyle: solid;
    borderColor: 0x7C7C7C;
}

.NumericStepper {
    backgroundColor: 0x4F4F4F;
    borderStyle: solid;
    borderColor: 0x7C7C7C;
}

.CheckBox {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    fontStyle: italic;
}
.CheckBoxBold {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    fontStyle: bold;
}

.Tree {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    backgroundColor: 0x666666;
    rollOverColor: 0xF7C938;
    textRollOverColor: 0x000000;
    selectionColor: 0x666666;
    textSelectedColor: 0xF7C938;
    borderStyle: solid;
    borderWidth: 1;
    borderColor: 0x999999;
}

.Accordion {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    backgroundColor: 0x666666;
    borderStyle: solid;
    borderColor: 0xF7C938;
}

.HList {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    backgroundColor: 0x666666;
    borderWidth: 1;
    borderStyle: solid;
    borderColor: 0x999999;
}

.Alert {
    fontFamily: Arial;
    fontSize: 12;
    color: 0x000000;
    backgroundColor: 0xFFFFFF;
}

/* Functional classes */

.Panel {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    backgroundColor: 0x000000;
    borderStyle: none;
    borderWidth: 0;
}

.HeaderText {
    fontFamily: Arial;
    fontSize: 14;
    color: 0xFFFFFF;
    fontWeight: bold;
}

.HeaderControlTextNormal {
    fontFamily: Arial;
    fontSize: 10;
    color: 0x00000;
    fontWeight: none;
}

.HeaderControlTextBold {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x00000;
    fontWeight: bold;
}

.Caption {
    fontFamily: Arial;
    fontSize: 13;
    color: 0xFFFFFF;
    fontWeight: bold;
}

.Note {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFF0000;
    backgroundColor: 0x666666;
    borderStyle: none;
}

.MenuPanel {
    fontFamily: Arial;
    fontSize: 13;
    fontWeight: bold;
    color: 0x000000;
    borderStyle: none;
    borderWidth: 0;
    backgroundColor: 0x666666;
}

.MenuPanel.Preview {
    borderBottomColor: 0xFFFFFF;
    backgroundColor: 0x000000;
}

.MenuPanel.LargeButton {
    fontSize: 12;
}

.MenuPanel.ModelName {
    color: 0;
    textAlign: center;
}

.MainLayerPanel {
    backgroundColor: 0xFFFFFF;
    borderStyle: none;
    borderWidth: 1;
    borderColor: 0x000000;
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    borderLeftColor: 0xFF0000;
    borderTopColor: 0xFF0000;
    borderRightColor: 0xFF0000;
    borderBottomColor: 0xFF0000;
}

.MiniBarPanel {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFEF31;
    textAlign: center;
    backgroundColor: 0x666666;
    borderStyle: none;
    borderWidth: 1;
    borderLeftColor: 0x666666;
    borderTopColor: 0x666666;
    borderRightColor: 0x666666;
    borderBottomColor: 0x666666;
}

.TransferProperties {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFEF31;
    textAlign: center;
    backgroundColor: 0x666666;
}

.TransferProperties.Text {
    color: 0xFFFFFF;
    textAlign: left;
    borderStyle: none;
}

.ToolbarPanel {
    fontFamily: Arial;
    fontSize: 10;
    color: 0x000000;
    backgroundColor: 0x000000;
    borderStyle: none;
    borderWidth: 0;
}

.QuickToolPanel {
    fontFamily: Arial;
    fontSize: 10;
    color: 0x000000;
    backgroundColor: 0x666666;
    borderStyle: none;
    borderWidth: 0;
}

.ToolbarButton {
    fontStyle: normal;
}

.ToolbarButton.Up {
    color: 0xf4d217;
}

.ToolbarButton.Down {
    color: 0xE7B928;
}

.ToolbarButton.Over {
    color: 0xD09000;
}

.ToolbarButton.Disabled {
    color: 0xCCCCCC;
}

.HintBoxPanel {
    fontFamily: Arial;
    fontSize: 18;
    fontWeight: bold;
    color: 0x000000;
    textAlign: center;    
    backgroundColor: 0xFFFFFF;
    borderStyle: solid;
    borderWidth: 1;
    borderLeftColor: 0xFFFFFF;
    borderTopColor: 0xFFFFFF;
    borderRightColor: 0xFFFFFF;
    borderBottomColor: 0xFFFFFF;
}
.HintBoxPanelPreview {
    fontFamily: Arial;
    fontSize: 18;
    fontWeight: bold;
    color: 0XFFFFFF;
    textAlign: center;    
    backgroundColor: 0x000000;
    borderStyle: solid;
    borderWidth: 1;
    borderLeftColor: 0x000000;
    borderTopColor: 0x000000;
    borderRightColor: 0x000000;
    borderBottomColor: 0x000000;
}

.FaceTabPanel {
    fontFamily: Arial;
    fontSize: 18;
    fontWeight: bold;
    color: 0x000000;
    textAlign: center;    
    backgroundColor: 0x000000;
    borderStyle: solid;
    borderWidth: 1;
    borderLeftColor: 0x000000;
    borderTopColor: 0x000000;
    borderRightColor: 0x000000;
    borderBottomColor: 0xFFFFFF;
}

.FaceTabPanel.FaceFront {
    fontFamily: Century Gothic;
    fontSize: 12;
    fontWeight: bold;
    color: 0x000000;
    textAlign: left;
}

.FaceTabPanel.FaceBack {
    fontFamily: Century Gothic;
    fontSize: 12;
    fontWeight: bold;
    color: 0x000000;
    textAlign: right;
}

.Preview {
    fontFamily: Arial;
    backgroundColor: 0x666666;
}

.Preview.Panel {
    fontSize: 12;
    borderStyle: solid;
    borderWidth: 1;
    borderLeftColor: 0x666666;
    borderTopColor: 0x666666;
    borderRightColor: 0x666666;
    borderBottomColor: 0x666666;
}

.Preview.CaptionText {
    fontSize: 13;
    fontWeight: bold;
    color: 0xFFE209;
}

.Preview.DescriptionText {
    fontSize: 11.5;
    color: #FFE209;
    borderStyle: none;
}

.Preview.ABValueCaption {
    fontSize: 13;
    color: 0xFFFFFF;
}

.Preview.ABValueInput {
    color: 0x000000;
    backgroundColor: 0xFFFFFF;
    textAlign: right;
}

.Preview.AdvancedCalibrationText {
    fontSize: 16;
    color: 0xFFE209;
}

.Preview.Buttons {
    fontSize: 13;
    fontWeight: bold;
    color: 0x000000;
}

.GenericPanel {
    borderStyle: none;
    backgroundColor: 0x666666;
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
}

.ToolProperties {
    backgroundColor: 0x666666;
    textAlign: left;
}

.ToolProperties.Panel {
    backgroundColor: 0x666666;
    borderStyle: none;
    borderWidth: 0;
}

.ToolProperties.Panel.SubPanel {
    backgroundColor: 0x999999;
    borderStyle: none;
    borderWidth: 0;
}

.ToolProperties.Text {
    fontFamily: Arial;
    fontSize: 10;
    color: 0x000000;
}

.ToolProperties.HeaderText {
    color: 0xFFFFFF;
}

.ToolProperties.Note {
    color: 0xFF0000;
}


.ToolProperties.ComboBox {
    borderColor: 0x7C7C7C;
}

.ToolProperties.TextInput {
    backgroundColor: 0xFFFFFF;
    color: 0x000000;
}

.ToolProperties.TextSearch {
    fontSize: 10;
}

.ToolProperties.NumericStepper {
    borderColor: 0x7C7C7C;
}

.ToolProperties.CheckBox {
    color: 0xFFFFFF;
}
.ToolProperties.CheckBoxBold{
    color: 0xFFFFFF;
    fontWeight: bold;
    fontStyle:normal;
}

.ToolProperties.Button {
    backgroundColor: 0x666666;
    fontSize: 10;
    color: 0xFFFFFF;
}

.ToolProperties.Button.ActiveButton {
    fontSize: 12;
    fontWeight: bold;
    color: 0x000000;
}
.ToolProperties.Button.ActiveButtonSmall
{
        color: 0x000000;
        fontWeight: bold;
        fontSize: 10;
       fontStyle: bold;  
}

.ToolProperties.Caption {
    color: 0xFFFFFF;
}

.SliderTitleText {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xF7C938;
    fontWeight: bold;
}

.SliderInputText {
    fontFamily: Arial;
    fontSize: 12;
    backgroundColor: 0x4F4F4F;
    borderStyle: solid;
    borderColor: 0x7C7C7C;
}

.CalibrationText {
    fontFamily: Arial;
    fontSize: 11;
    color: 0xFFFFFF;
    backgroundColor: 0x666666;
    borderStyle: none;
    fontWeight: bold;

}

.CalibrationLabel {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xF7C938;
}

.Tooltip {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    backgroundColor: 0xFEFFCC;
}

.TitleText 
{
    fontFamily: Century Gothic;
    fontSize: 11;
    textAlign: center;
    color: 0xFFFFFF;
    backgroundColor: 0xFEFFCC;
}