/*---------- Global Styles --------------*/

body {
    background: #333333;
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    color: #FFFFFF;
}

.HeaderText {
    font-size:15pt;
    font-family:Arial;
    font-weight:bold;
    color: #000000;
}

.PaperSelectPrompt {
    font-size:15pt;
    font-family:Arial;
    color: #ffffff;
    margin-bottom:30px;
}

.HeaderMenu {
    background-color:Black;
    width:900px;
    position:absolute;
    z-index:2;
}

.MainMenu {
    overflow:hidden;
    height: 45px;
    margin-top:14px;
}

.MainMenuCell {
    padding: 0 5 0 10;
    margin-right: 5px;
}

.MainMenuLinkInactive {
    font-size: 10pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: bold;
    color: #FDCE10;
    text-decoration: none;
}

.MainMenuLinkActive {
    font-size: 10pt;
    font-family: Arial;
    font-weight: 500;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-decoration: none;
}

.LeftPanel {
    width: 208px;
    overflow: hidden;
    height: 562px;
}

.Account {
    width: 208px;
    height: 220px;
    margin-top: 110px;
    overflow: hidden;
}

.LeftPanelCaption {
    font-size:10pt;
    font-family:Arial;
    font-weight:bold;
    color: #000000;
    margin-bottom:10px;
}

.Announcements {
    width: 208px;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
}

.LeftPanelText {
    font-size:8pt;
    font-family:Arial;
    font-weight:normal;
    color: #000000;
}

.LeftPanelText.Bold {
    font-weight:bold;
}

.LeftPanelText.Validation {
	color: #000000;
	font-weight: bold;
}

.LoginInput {
	width:120px;
	height:20px; 
	font-size: 10pt;
}

.LeftPanel a:link, .LeftPanel a:visited, .LeftPanel a:active, .LeftPanel a:hover, .LeftPanel a:focus {
    font-size:10pt;
    font-family:Arial;
    font-weight: normal;
    color: #FDCE10;
    text-decoration: none;
}

.FooterMenu {
    clear:both;
    height:50px;
    border-top: solid 1px black;
    overflow: hidden;
    background-color: #666666;
}

.SelectDeviceText{
    font-size:12pt;
    font-family:Arial;
    font-weight:bold;
    color: #FFFF00;
}

.DeviceSelectLeftPanel
{
    width:208px;
}
.DeviceSelectLeftPanelUp
{
	width: 208px;
	height: 93px;
	vertical-align: bottom;
	background-image: url(../images/DeviceSelectLeftPanel.gif);
}
.DeviceSelectText{
    font-size:11pt;
    font-family:Arial;
    font-weight: normal;
}

.DeviceSelectCaption{
    font-size:12pt;
    font-family:Arial;
    font-weight:900;
    color: #FF6600;
    margin-bottom: 10px;
}

.StepText {
    font-size:8pt;
    font-family:Arial;
    color: #000000;
    width: 100px;
}

.StepTextSelected{
    font-size:9pt;
    font-family:Arial;
    color: #000000;
    font-weight:bold;
    width: 150px;
}

/*******************************************************************************/
.mainTable {
    background-color: #000000;
    width: 1010px;
}

.InputField {
    width: 150px;
    padding-top: 0px;
    font-size: 10pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;
    border-collapse: collapse;
    border-top: 2px solid #CCCCCC;
    border-left: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-color: #808080;
}

.InputFile {
    padding-top: 0px;
    font-size: 12pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #000000;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #808080;
}

A:hover.LinkText {
    text-decoration: underline;
}

A.LinkText {
    font-size: 12pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-weight: normal;
}

A.LinkText.Small {
    font-size: 8pt;
    color: #ffffff;
}

A.LinkText.Active {
    color: #ffffff;
}

A.LinkText.Inactive {
    color: #808080;
}

.ListCaption {
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
}
/*---------- End Global Styles --------------*/


/*========= Style for upper picture ==== */

.MainPicture .Block {
    width: 770px;
    height: 298px;
    margin-top: 0px;
    text-align: left;
}

.MainPicture .Picture {
    width: 770px;
    height: 298px;
    background: #282828 url(../images/bgPic4.jpg) no-repeat center;
    position: relative;
}

.MainPicture .ProductPlaceholder {
    margin-left: 400px;
    width: 0px;
    height: 50px;
}

.MainPicture .ProductShadow {
    overflow: visible;
    float: left;
    margin-top: 15px;
    width: 360px;
    line-height: 30pt;
    font-size: 24pt;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: black;
}

.MainPicture .Product {
    margin-top: -30pt;
    margin-right: 2pt;
    color: #FEF002;
}

.MainPicture .Logo {
    width: 344px;
    height: 128px;
    margin-top: -33px;
    margin-left: 0px;
    padding: 0px;
    float: left;
    background: url(../images/logo.jpg) no-repeat center;
}
/* ==== END== */

.LogoTextShadow {
    position: absolute;
    left: 168px;
    top: 16px;
    font-size: 18pt;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: black;
}

.LogoText {
    position: absolute;
    left: 165px;
    top: 16px;
    font-size: 18pt;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: #FFEF31;
}

.LogoTextShadowDefaultPage {
    position: absolute;
    left: 150px;
    top: 13px;
    font-size: 18pt;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: black;
}

.LogoTextDefaultPage {
    position: absolute;
    left: 147px;
    top: 13px;
    font-size: 18pt;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: #FFEF31;
}
/*-------------- Header Block ------------*/


.PageContent {
    width: 1010px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    border: solid 0px magenta;
}

.PageContent .Cell {
    padding: 0px 0px 0px 0px;
    border-collapse: collapse;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    margin: 0px 0px 0px 0px;
}

.PageContent .Cell.Header {
    height: 0px;
    background: #000000;
    padding: 0px 0px 0px 0px;
    border-bottom: 0px solid;
    text-align: left;
}

.PageContent .Text {
    padding-left: 0px;
    font-size: 18pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: bold;
    color: #ffffff;
}

.PageContent .RedText {
    padding-left: 0px;
    font-size: 14pt;
    font-family: Arial;
    color: #DC4034;
}

.LeftImageCell {
    border: none;
    border-right: solid 2px white;
    width: 277px;
    height: 530px;
}
/*---------------- END -------------------*/

.clsVersion {
    font-size: 8pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-family: Arial;
    color: White;
}


/*
===================== Style for upper yell line ======== BEGIN==
 */

#yellLineBlock {
    width: 1010px;
    height: 41px;
    margin-top: 0px;
    padding: 0px;
    background: #FFEF31;
    background: url(../images/toppic.jpg) no-repeat center;
}

/*========= END== */

/*======== Style Logo==== */

.logoTable {
    width: 1010px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background: #000000;
}

#logoBlock {
    width: 770px;
    height: 60px;
    margin-top: 0px;
    padding: 0px;
    text-align: left;
    background: #101010;
}

#logotype {
    width: 344px;
    height: 60px;
    padding: 0px;
    float: left;
    background: url(../images/logo.jpg) no-repeat center;
}

#numOfStep {
    float: right;
    height: 14px;
    margin-top: 40px;
    text-align: right;
    z-index: 0;
}

.numOfStepText {
    font-size: 14pt;
    font-weight: bold;
    font-family: Arial;
    color: #FF8415;
}

#yellLine {
    width: 770px;
    height: 3px;
    margin-top: 3px;
    padding: 0px;
    text-align: left;
    background: #FFFFFF;
    font-size: 1px;
}

.headerRedLine {
    height: 11px;
    width: 1010px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 1px;
    background-color: #DA451A;
    border-top: solid 2px #FFFFFF;
}

.stepMenu {
    height: 10px;
    border-top: solid 0px #FFFFFF;
}
.stepHeader {
    vertical-align: top;
    width: 722px;
    height: 15px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.printzImg {
    vertical-align: middle;
    height: 70px; /**/
    padding: 0px;
    margin: 0px;
}


/*========= END== */
/*====== Style for content ======= */
.PageContent .LeftCell {
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 460px;
    border-right: 2px solid #FFFFFF;
}

.PageContent .RightCell {
    padding-left: 10px;
    padding-top: 10px;
    width: 720px;
    height: 75%;
}

.PageContent .LeftBottomCell {
    width: 220px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-right: 2px solid #FFFFFF;
}

.PreviousModelSelection {
    color: #FF6600;
    font-family: Arial;
    font-size: 10pt;
}

.ScrollPanel {
    height: 90%;
    width: 100%;
    border-collapse: collapse;
    border-top: 0px solid #4F4F4F;
    border-left: 0px solid #151515;
    border-right: 0px solid #7C7C7C;
    border-bottom: 0px solid #1D1D1D;
    scrollbar-face-color: #4d4d4d;
    scrollbar-highlight-color: #303030;
    scrollbar-shadow-color: #303030;
    scrollbar-arrow-color: #ffffff;
    scrollbar-track-color: #303030;
    scrollbar-darkshadow-color: #282828;
    scrollbar-base-color: #808080;
}
.ScrollPanel2 {
    width: 100%;
    border-collapse: collapse;
    border-top: 0px solid #4F4F4F;
    border-left: 0px solid #151515;
    border-right: 0px solid #7C7C7C;
    border-bottom: 0px solid #1D1D1D;
    scrollbar-face-color: #4d4d4d;
    scrollbar-highlight-color: #303030;
    scrollbar-shadow-color: #303030;
    scrollbar-arrow-color: #ffffff;
    scrollbar-track-color: #303030;
    scrollbar-darkshadow-color: #282828;
    scrollbar-base-color: #808080;
}

.MarginText {
    padding: 0px 0px 0px 0px;
}

.Paragraph {
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #FFFFFF;
}

.Paragraph strong {
    color: #FF9933;
}

.Paragraph b {
    color: #FDCE10;
}

.Paragraph dt {
    color: #FDCE10;
}

.Paragraph.Center {
	text-align: center;
}

.siteCloseText {
    font-size: 10pt;
    font-family: Arial;
/*    letter-spacing: 0.07em;*/
    font-weight: normal;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 0px;
}
.copyRightText {
    font-size: 9pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.flashRequiredText {
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
}

.captionTblRow {
    font-family: Arial;
    letter-spacing: 0.07em;
    font-size: 11pt;
    font-weight: bold;
    padding: 2px 2px 2px 5px;
}

.valueTblRow {
    font-family: Arial;
    letter-spacing: 0.07em;
    font-size: 11pt;
    font-weight: normal;
    padding: 2px 2px 2px 5px;
}

.alert {
    font-family: Arial;
    letter-spacing: 0.07em;
    font-size: 10pt;
    font-weight: normal;
    color: Red;
}

.inputTblField {
    width: 100%;
    padding-top: 0px;
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;
    border-collapse: collapse;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #808080;
}

.textareaTblField {
    overflow: auto;
    width: 100%;
    padding-top: 0px;
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;
    border-collapse: collapse;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #808080;
    scrollbar-face-color: #4d4d4d;
    scrollbar-highlight-color: #303030;
    scrollbar-shadow-color: #303030;
    scrollbar-arrow-color: #ffffff;
    scrollbar-track-color: #303030;
    scrollbar-darkshadow-color: #282828;
    scrollbar-base-color: #808080;
}

.comboTblField {
    width: 130px;
    padding-top: 0px;
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #808080;
}

.comboChoiceArea {
    width: 180px;
    margin-top: 10px;
    font-size: 10pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #000000;
    background: #FFFFFF;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #808080;
}

.checkboxTblField {
    padding: 0;
    margin: 0;
    left: 0;
}

.requiredText {
    font-family: Arial;
    letter-spacing: 0.07em;
    font-size: 11pt;
    font-weight: normal;
    color: #EE560D;
}

input, select, .Text
{
    font-family:	Arial;
    font-size:		10pt;
}
.Text
{
    color:			#ffffff;
}
input, select
{
	color:          #000000;
}
.Text.Required
{
	color:			#EE560D;
}
.Text.Header
{
	font-weight:	bold;
}
.Text.RequiredHeader
{
	color:			#EE560D;
	font-weight:	bold;
}
.Text.YellowHeader
{
    color: #FFCC00;
    font-size: 15pt;
}
.Text.Black
{
	color: #000000;
}
.Text.Black.Header
{
	font-weight:bold;
    font-size: 9pt;
}
Text.White
{
	color:#FFFFFF;
	text-decoration: none;
}
Text.White.Header
{
	font-weight:bold;
}
.Text.Alert
{
	color:			#ff0000;
}
table.FormTable
{
}
table.FormTable td
{
	padding:		2px 2px 2px 5px;
}
select
{
	width:          140px;
}
.ImageLibraryItem
{
	width:	        135px;
}
input.ImageLibrary
{
	width:	        135px;
	height:         135px;
}
input.ImageLibrarySmall
{
	width:	        90px;
	height:         90px;
}
input.Login, input.Field, input.Field100, input.Password
{
	height:			20px;
}
input.Login
{
	width:			100px;
}
input.Field100, select.Field100
{
	width:			100%;
}
input.Field, select.Field
{
	width:			220px;
}
input.Password
{
	width:			175px;
}
textarea.Multiline
{
	width:			370px;
	height:			90px;
}
/*====================================================== END== */


/*
===================== Style PDF Geneerator page ======== BEGIN==
 */

.tdPdfGenerator {
    width: 100%;
}


/*
====================================================== END==
 */


/*
===================== Style for content ======== BEGIN==
 */


#contentBlock {
    width: 540px;
    margin-top: 10px;
    padding: 0px;
    text-align: left;
}

.contentTable {
    width: 800px;
    text-align: left;
}

.contentTdStyle {
    width: 530px;
    padding-top: 0px;
    padding-left: 0px;
    background: #333333;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}

.uploadDialog {
    width: 580px;
    background: #282828;
    border-style: solid;
    border-width: 2px;
    border-color: #808080;
}

.uploadDialogCaption {
    background-color: #808080;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-size: 16pt;
    padding-left: 10px;
}

td.padding10px {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.SelectDevice {
    vertical-align: top;
    height: 200px;
    width: 700px;
    padding-top: 15px;
    text-align: left;
    border-top: solid 2px white;
}

.DeviceLink {
    font-size: 16px;
    color: white;
    vertical-align: middle;
    font-family: Arial;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.01em;
    margin-right: 5px;
}

.LoginPass {
    border-collapse: collapse;
    width: 100%;
}

.LoginPass .Cell {
    padding: 0px;
    width: 180px;
}

.LoginPass .Cell.Left {
    width: 70px;
}

.LoginPass .Cell.Right {
    width: 130px;
}
.LoginPass .Cell.Enter {
    width: 170px;
    padding-left: 15px;
    vertical-align: bottom;
}
.LoginPass .Cell.Delim {
    width: 8px;
}
.LoginPass .Cell.NewUser {
    width: 300px;
}
.LoginPass .Cell.NewUserText {
    width: 300px;
    padding-left: 5px;
    font-size: 14px;
    font-family: Arial;
    color: White;
}
.LoginPass .Cell.Validator {
    font-family: Arial;
    font-size: 7px;
    color: #DA451A;
    margin: 0px 0px 0px 0px;
    height: 7px;
    width: 340px;
}
.LoginPass .Text {
    font-size: 15px;
    font-family: Arial;
    letter-spacing: 0.05em;
    font-weight: normal;
    color: #ffffff;
}

.LoginPass .Italic {
    font-size: 12px;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-style: italic;
    font-weight: normal;
    color: #ffffff;
}

.LoginPass .UserName {
    font-size: 12px;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-style: italic;
    font-weight: normal;
    color: #FFFFFF;
}

.LoginPass .Href {
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #FDCE10;
    text-decoration: none;
}

.LoginPass .Inactive {
    color: #808080;
    cursor: default;
}

.ItalicText {
    font-size: 10px;
    font-style: italic;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #808080;
}

.YellowText {
    font-size: 10px;
    font-family: Arial;
    letter-spacing: 0.07em;
    font-weight: normal;
    color: #d2b35a;
}

.LearnMoreWindowDiv{
    visibility: hidden;
    z-index: 10;
    position: absolute;
    border-collapse: separate;
    background-color: black;    
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    left: 500px;
    top: 243px;
    width: 300px;
    height: 180px;
}

.LearnMoreWindowCaption {
    background-color: blue;
    font-family: Arial;
    font-weight: bold;
    font-size: 15;
    color: white;
}

.LearnMoreWindowText {
    font-family: Arial;
    font-size: 15;
    color: white;
}

.LearnMoreWindowButton{
    text-align: center;
}

.Faq {
    font-family: Arial;
    font-size: 15;
    color: white;
}

.TellUsLink {
    font-size: 11pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    color: #FDCE10;
}

/*====================================================== END== */



/*===================== Style for footer ======== BEGIN== */
.yellLine {
    width: 100%;
    height: 2px;
    padding: 0px;
    background: #FFFFFF;
    border-collapse: collapse;
    border-top: 0px solid #000000;
    border-left: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid #000000;
    font-size: 1px;
}

.yellLine.topYellLine {
    margin-top: 10px;
}
.yellLine.bottomYellLine {
}

#footerBlock {
    width: 1010px;
    background: #DA451A; /*border-collapse: collapse;*/
    border-top: 2px solid white;
    border-left: 0px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    text-align: center;
    height:62px;
}

.footerLink {
    font-size: 9pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    color: #ffffff;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
    border-style:none;
    padding: 0 0 0 5;
}

.devicesTableStyle {
    width: 100%;
    height: 200px;
}

/*=== END== */


.printInstructions {
    padding: 10px;
    margin: 0;
    line-height: 12pt;
}

ul li {
    list-style-type: none;
    background: url(../images/bullet.gif) no-repeat;
}

dl.dynamicLinks dd {
    background-position: 0 0.5em;
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    padding: 0px 0px 0px 10px;
    position: relative;
    left: -25px;
}

ul.printInstructions li {
    background-position: 0px 6px;
    padding: 0px 0px 0px 10px;
}

.uploadInstructions {
    font-family: Arial;
    letter-spacing: 0.07em;
}

.uploadInstructions ol {
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin: 10px 0px;
    padding-top: 0px;
}

.uploadInstructions ol li {
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    margin-left: 10px;
    list-style-position: outside;
    list-style-type: decimal;
    font-size: 12pt;
}

.uploadInstructions .TextHeader {
    font-weight: bold;
    font-size: 12pt;
}

.Note {
    font-family: Arial;
    letter-spacing: 0.07em;
    font-size: 12pt;
    color: gold;
}

.uploadInstructions .Note {
    font-size: 12pt;
    color: gold;
}

.Promt {
    font-family: Arial;
    letter-spacing: 0.07em;
    font-size: 12pt;
}

.contentTdStyle.uploadDesign {
    padding: 10px;
    margin: 10px;
}
/*************Style for SelectDevice page*****************/
A.LinkEnlarge {
    color: #00BBFF;
    font-size: 10pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-weight: normal;
}
A.LinkEnlargeNavy {
    color: #000080;
    font-size: 10pt;
    font-family: Arial;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-weight: normal;
}
A:Hover.LinkEnlarge, A:Hover.LinkEnlargeNavy {
    text-decoration: underline;
}

.TextInfo {
    color: #FFDD00;
    font-size: 10pt;
    height: 460px;
    font-family: Arial;
}

.CurrentStep {
    color: #FFCC00;
    font-size: 15pt;
    font-family: Arial;
    text-decoration: none;
    font-weight: normal;
}

/*END  *********Style for SelectDevice page***************/

/*************Style for SelectDevice page*****************/
.DeviceInfo {
    background-color: #282828;
}
/*END  *********Style for SelectDevice page***************/
