﻿/* Flash standrad components */
.Button {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x333333;
}

.ComboBox {
    fontFamily: Arial;
    fontSize: 11;
    backgroundColor: 0xDDDDDD;
    borderStyle: solid;
    borderColor: 0x7C7C7C;
}

.TextInput {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    backgroundColor: 0xDDDDDD;
    borderStyle: solid;
    borderColor: 0x7C7C7C;
}

.NumericStepper {
    backgroundColor: 0x7f7f7f;
    borderStyle: solid;
    borderColor: 0xd5d5d5;
}

.CheckBox {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    fontStyle: italic;
}
.CheckBoxBold {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    fontStyle: bold;
}

.Tree {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    backgroundColor: 0xf7f7f7;
    rollOverColor: 0xd5d5d5;
    textRollOverColor: 0x000000;
    selectionColor: 0xd5d5d5;
    textSelectedColor: 0x000000;
    borderStyle: solid;
    borderWidth: 1;
    borderColor: 0xd5d5d5;
}

.Accordion {
	backgroundColor: 0xff0000;
    fontFamily: Arial;
    fontSize: 11;
    color: 0xFFFFFF;
    backgroundColor: 0x666666;
    borderStyle: none;
}

.HList {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    backgroundColor: 0xf7f7f7;
    borderStyle: solid;
    borderColor: 0x0;
}

.Alert {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    backgroundColor: 0xFFFFFF;
}

/* Functional classes */

.Panel {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    backgroundColor: 0xFFFFFF;
    borderStyle: none;
    borderWidth: 0;
}

.HeaderText {
    fontFamily: Arial;
    fontSize: 14;
    color: 0xFFFFFF;
    fontWeight: bold;
}

.HeaderControlTextNormal {
    fontFamily: Arial;
    fontSize: 10;
    color: 0x00000;
    fontWeight: none;
}

.HeaderControlTextBold {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x00000;
    fontWeight: bold;
}

.Caption {
    fontFamily: Arial;
    fontSize: 13;
    color: 0xFFFFFF;
    fontWeight: bold;
}

.Note {
    fontFamily: Arial;
    fontSize: 11;
    color: 0xFF0000;
    borderStyle: none;
}

.MenuPanel {
    fontFamily: Arial;
    fontSize: 13;
    fontWeight: bold;
    color: 0x000000;
    borderStyle: none;
    borderWidth: 0;

}

.MenuPanel.Preview {
    borderBottomColor: 0xFFFFFF;
    backgroundColor: 0x000000;
}

.MenuPanel.LargeButton {
    fontSize: 12;
}

.MenuPanel.ModelName {
    color: 0;
    textAlign: center;
}

.MainLayerPanel {
    backgroundColor: 0xFFFFFF;
    borderStyle: none;
    borderWidth: 1;
    borderColor: 0x000000;
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
    borderLeftColor: 0xFF0000;
    borderTopColor: 0xFF0000;
    borderRightColor: 0xFF0000;
    borderBottomColor: 0xFF0000;
}

.MiniBarPanel {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFEF31;
    textAlign: center;
    borderStyle: none;
    borderWidth: 1;
}

.TransferProperties {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFEF31;
    textAlign: center;
}

.TransferProperties.Text {
    color: 0xFFFFFF;
    textAlign: left;
    borderStyle: none;
}

.ToolbarPanel {
    fontFamily: Arial;
    fontSize: 10;
    color: 0x000000;
    borderStyle: none;
    borderWidth: 0;
}

.ToolbarButton {
    fontStyle: normal;
}

.ToolbarButton.Up {
    color: 0xf4d217;
}

.ToolbarButton.Down {
    color: 0xE7B928;
}

.ToolbarButton.Over {
    color: 0xD09000;
}

.ToolbarButton.Disabled {
    color: 0xCCCCCC;
}

.HintBoxPanel {
    fontFamily: Arial;
    fontSize: 18;
    fontWeight: bold;
    color: 0x000000;
    textAlign: center;    
    backgroundColor: 0xFFFFFF;
    borderStyle: solid;
    borderWidth: 1;
    borderLeftColor: 0xFFFFFF;
    borderTopColor: 0xFFFFFF;
    borderRightColor: 0xFFFFFF;
    borderBottomColor: 0xFFFFFF;
}
.HintBoxPanelPreview {
    fontFamily: Arial;
    fontSize: 18;
    fontWeight: bold;
    color: 0XFFFFFF;
    textAlign: center;    
    backgroundColor: 0x000000;
    borderStyle: solid;
    borderWidth: 1;
    borderLeftColor: 0x000000;
    borderTopColor: 0x000000;
    borderRightColor: 0x000000;
    borderBottomColor: 0x000000;
}

.FaceTabPanel {
    fontFamily: Arial;
    fontSize: 18;
    fontWeight: bold;
    color: 0x000000;
    textAlign: center;    
    backgroundColor: 0x000000;
    borderStyle: solid;
    borderWidth: 1;
    borderLeftColor: 0x000000;
    borderTopColor: 0x000000;
    borderRightColor: 0x000000;
    borderBottomColor: 0xFFFFFF;
}

.FaceTabPanel.FaceFront {
    fontFamily: Century Gothic;
    fontSize: 12;
    fontWeight: normal;
    color: 0x000000;
    textAlign: left;
}

.FaceTabPanel.FaceBack {
    fontFamily: Century Gothic;
    fontSize: 12;
    fontWeight: normal;
    color: 0x000000;
    textAlign: right;
}

.Preview {
    fontFamily: Arial;
}

.Preview.Panel {
    fontSize: 12;
    borderStyle: solid;
    borderWidth: 1;
}

.Preview.CaptionText {
    fontSize: 13;
    fontWeight: bold;
    color: 0xFFE209;
}

.Preview.DescriptionText {
    fontSize: 11.5;
    color: #FFE209;
    borderStyle: none;
}

.Preview.ABValueCaption {
    fontSize: 13;
    color: 0xFFFFFF;
}

.Preview.ABValueInput {
    color: 0x000000;
    backgroundColor: 0xFFFFFF;
    textAlign: right;
}

.Preview.AdvancedCalibrationText {
    fontSize: 16;
    color: 0xFFE209;
}

.Preview.Buttons {
    fontSize: 13;
    fontWeight: bold;
    color: 0x000000;
}

.ChangePaper {
    fontFamily: Arial;
    backgroundColor: 0xFFFFFF;
}

.ChangePaper.Panel {
    backgroundColor: 0xFFFFFF;
}

.ChangePaper.SourceTargetText {
    fontSize: 14;
    fontWeight: bold;
    color: 0x333333;
    textAlign: center;
}

.ChangePaper.DesignText {
    fontSize: 11;
    color: 0x999999;
    borderStyle: none;
    textAlign: center;
}

.ChangePaper.Tool {
    fontSize: 12;
    color: 0x000000;
    borderStyle: none;
    backgroundColor: 0xFFFFFF;
}

.ChangePaper.Tool.Text {
    fontSize: 11;
    fontWeight: bold;
}

.ChangePaper.Tool.PaperLabel {
    fontSize: 8;
    textAlign: center;
    wordWrap: true;
}

.GenericPanel {
    borderStyle: none;
    fontFamily: Arial;
    fontSize: 12;
    color: 0xFFFFFF;
}

.ToolProperties {
    textAlign: left;
}

.ToolProperties.Panel {
    borderStyle: none;
    borderWidth: 0;
}

.ToolProperties.Panel.SubPanel {
    backgroundColor: 0x999999;
    borderStyle: none;
    borderWidth: 0;
}

.ToolProperties.Text {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
}

.ToolProperties.HeaderText {
    color: 0xFFFFFF;
}

.ToolProperties.Note {
    color: 0xFF0000;
    backgroundColor: 0xFFFFFF;
}


.ToolProperties.ComboBox {
	color: 0x000000;
    borderColor: 0x7C7C7C;
}

.ToolProperties.TextInput {
    color: 0x000000;
}

.ToolProperties.TextSearch {
    fontSize: 10;
}

.ToolProperties.NumericStepper {
    borderColor: 0x7C7C7C;
}

.ToolProperties.CheckBox {
    color: 0x000000;
}
.ToolProperties.CheckBoxBold{
    color: 0x000000;
    fontWeight: bold;
    fontStyle:normal;
}

.ToolProperties.Button {
    fontSize: 10;
    color: 0xFFFFFF;
}

.ToolProperties.Button.ActiveButton {
    fontSize: 12;
    color: 0x000000;
}
.ToolProperties.Button.ActiveButtonSmall
{
        color: 0x000000;
        fontSize: 10;
}

.ToolProperties.Caption {
    color: 0xFFFFFF;
}

.SliderTitleText {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xF7C938;
    fontWeight: bold;
}

.SliderInputText {
    fontFamily: Arial;
    fontSize: 12;
    backgroundColor: 0x4F4F4F;
    borderStyle: solid;
    borderColor: 0x7C7C7C;
}

.CalibrationText {
    fontFamily: Arial;
    fontSize: 11;
    color: 0xFFFFFF;
    backgroundColor: 0x666666;
    borderStyle: none;
    fontWeight: bold;

}

.CalibrationLabel {
    fontFamily: Arial;
    fontSize: 12;
    color: 0xF7C938;
}

.Tooltip {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    backgroundColor: 0xFEFFCC;
}

.TitleText 
{
    fontFamily: Century Gothic;
    fontSize: 11;
    textAlign: center;
    color: 0xFFFFFF;
    backgroundColor: 0xFEFFCC;
}

.WorkspaceTab.Tab {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
    textAlign: center;    
}

.MainMenu {
    fontFamily: Arial;
    fontSize: 11;
    color: 0x000000;
}

.MessageBox {
	fontFamily:Arial;
	backgroundColor:0x999999;
	borderStyle:default;
}
.MessageBox.Button {
	color: 0x000000;
	borderStyle:default;
}
.MessageBox.Title {
	color: 0x000000;
	backgroundColor:0x999999;
	
}
.MessageBox.Text {
	color: 0x000000;
}
