<%@ Page language="c#" Codebehind="BuyMoreSkins.aspx.cs" AutoEventWireup="false" Inherits="Neato.Cpt.WebDesigner.BuyMoreSkins" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 
<html>
  <head>
    <title>Fellowes - Where can I buy more skins</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body MS_POSITIONING="GridLayout">
    <form id="Form1" method="post" runat="server">
        <div class="Paragraph" id="DynamicContent">
	        <asp:Literal id="ctlPageContent" runat="server"/>
	    </div>
    </form>
  </body>
</html>
