<%@ Page language="c#" Codebehind="UploadCheck.aspx.cs" AutoEventWireup="false" Inherits="Neato.Cpt.WebDesigner.UploadCheck" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>UploadCheck</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
	<script type="text/javascript" language="javascript" src="../js/UploadCheck.js"></script>
  </head>
  <body MS_POSITIONING="GridLayout">
        <form id="formUploadCheck" method="post" runat="server" class="noborder">
	        Checking size...
            <input type="hidden" id="hdnState" runat="server" NAME="hdnCopy"> 
        </form>
  </body>
</html>
