body{

}
.clsPageHeader{
    
}
.clsMenuItem{
    
}
.clsParagraphCaption{

}
.clsPlainText{
    
}
.clsTableHeader{
    
}
div{
    
}
b{
    
}
image{
    
}
textarea{
    
}
select{

}
input{

}
a{

}
a:hover{

}
a.button{

}
a.button:hover{

}
a.button:active{

}

.requiredText {
  color: #DA451A;
}

.inputTblField {
    width: 200px;
    padding-top: 0px;
    color: #000000;
    background: #FFFFFF;
    border-collapse: collapse;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #808080;
}

.comboTblField {
    width: 130px;
    padding-top: 0px;
    color: #000000;
    background: #FFFFFF;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #808080;
}

.checkboxTblField {
    padding: 0;
    margin: 0;
    left: 0;
}

.alert {
    font-family: Arial;
    letter-spacing: 0.07em;
    font-size: 10pt;
    font-weight: normal;
    color: Red;
}

.imageIcon {
    HEIGHT: 100;
    /*HEIGHT:expression(this.height > 100 ? 100 : this.height);
    WIDTH:expression(this.width > 100 ? 100 : this.width);*/
}
