<%@ Control Language="c#" AutoEventWireup="false" Codebehind="FaqSection.ascx.cs" Inherits="Neato.Dol.WebDesigner.Controls.FaqSection" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<a id="hypQuestion" runat="server" href="#" class="Faq"/>
<span id="lblAnswer" runat="server" style="DISPLAY: none" class="Faq"/>
