<%@ Control Language="c#" AutoEventWireup="false" Codebehind="HeaderStep.ascx.cs" Inherits="Neato.Dol.WebDesigner.Controls.HeaderStep" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ Register TagPrefix="cpt" TagName="StepSelector" Src="StepSelector.ascx" %>
<table class="logoTable" cellpadding=0 cellspacing=0> 
    <tr>
        <td class="printzImg" rowspan=2>
            <div ><img src="images/printz_on_step.jpg" border=0></div>
                <!--<div class="LogoTextShadow"><asp:Label ID="lblLogoTextShadow" Runat="server"/></div>
                <div class="LogoText"><asp:Label ID="lblLogoText" Runat="server"/></div>-->
        </td>
        <!--<td align="right">
            <table class="headerStepTable"  cellpadding=0 cellspacing=0 height=100%>
            <tr-->
                <td class="stepHeader"><div><img src="images/header_on_step.JPG" ></div></td>
            
            <tr>
                <td class="stepMenu">
                    <cpt:StepSelector ID="ctlStepSelector" Step="1" Runat="server"/>
                </td>
            </tr>
            
            <!--<asp:Image ID="imgStep" Runat="server" ImageAlign=AbsMiddle/>
            <asp:Label ID="lblStep" Runat="server" CssClass="numOfStepText"/>-->
        </td>
    </tr>
    <tr>
    
        <td colspan="2" ><div class="headerRedLine">&nbsp;</div>
        </td>
    </tr>
</table>

<!--<div id="yellLine"></div>-->