/* Box-small
----------------------------------------------- */	
.box-small {
	border:2px solid #3493cd;
	margin-bottom:10px;
	}	
.box-small .content {
	padding:0 6px;
	}
.box-small .content p {
	font-size:.7em;
	margin-bottom:7px;
	}	
.box-small .content h2 {
	margin-bottom:6px;
	text-transform: uppercase;
	font-size:.8em;
	color:#2174a6;
	}	
	
/* Box-small Decor
----------------------------------------------- */	
.decor-t, .decor-t div, .decor-b, .decor-b div {
	position:relative;
	height:4px;
	}
.decor-t {
	top:-2px;
	left:-2px;
	background:url(../images/decor/white-tl.gif) 0 0 no-repeat;
	}
.decor-b {
	top:2px;
	left:-2px;
	background:url(../images/decor/white-bl.gif) 0 100% no-repeat;
	}	
	.decor-t div, .decor-b div {
		right:-4px;
		overflow:hidden;
		}
	.decor-t div { background:url(../images/decor/white-tr.gif) 100% 0 no-repeat; }
	.decor-b div { background: url(../images/decor/white-br.gif) 100% 0 no-repeat; }

/* Box-small Decor bgr-blue
----------------------------------------------- */
.box-small.bgr-blue {
	background:#94c6e5;
	border:2px solid #94c6e5;
	color:#FFF;
	text-align:center;
	}
.box-small.bgr-blue .content h2 {
	color:#FFF;
	}	
.box-small.bgr-blue .decor-t { background: url(../images/decor/blue-bgr-tl.gif) 0 0 no-repeat; }
.box-small.bgr-blue .decor-t div { background: url(../images/decor/blue-bgr-tr.gif) 100% 0 no-repeat; }
.box-small.bgr-blue .decor-b { background: url(../images/decor/blue-bgr-bl.gif) 0 100% no-repeat; }
.box-small.bgr-blue .decor-b div { background: url(../images/decor/blue-bgr-br.gif) 100% 0 no-repeat; }
	
/* Box-small Decor brd-green
----------------------------------------------- */
.box-small.brd-green {
	background:#e1ecf2;
	border:2px solid #b3c95d;
	color:#3493cd;
	text-align:right;
	}
.box-small.brd-green .content h2 {
	font-size:.9em;
	color:#3493cd;
	text-align:left;
	}	
.box-small.brd-green .decor-t { background: url(../images/decor/brd-green-tl.gif) 0 0 no-repeat; }
.box-small.brd-green .decor-t div { background: url(../images/decor/brd-green-tr.gif) 100% 0 no-repeat; }
.box-small.brd-green .decor-b { background: url(../images/decor/brd-green-bl.gif) 0 100% no-repeat; }
.box-small.brd-green .decor-b div { background: url(../images/decor/brd-green-br.gif) 100% 0 no-repeat; }

/* Decor box
----------------------------------------------- */	
.box {
	border:2px solid #3493cd;
	margin-bottom:10px;
	}
.box .content {
	margin:0 0 0 24px;
	background: #FFF;
	}	
.box .decor-b, .box .decor-b div, .box .decor-t, .box .decor-t div {
	position:relative;
	height:12px;
	}
	
.box .decor-t {	background:url(../images/decor/blue-large-d-tl.gif) 0 100% no-repeat;	}	
.box .decor-t div { background:url(../images/decor/blue-large-d-tr.gif) 100% 0 no-repeat; }	
	
.box .decor-b {	background:url(../images/decor/blue-large-bl.gif) 0 100% no-repeat;	}	
.box .decor-b div { background:url(../images/decor/blue-large-br.gif) 100% 0 no-repeat; }
.box .label-caption .decor-t {	background:url(../images/decor/blue-large-tl.gif) 0 100% no-repeat;	}	
.box .label-caption .decor-t div { background:url(../images/decor/blue-large-tr.gif) 100% 0 no-repeat; }

.box .decor-bw,
.box .decor-bw div {
	height:14px;
	overflow:hidden;
	}
.box .decor-bw {background: url(../images/decor/decor-white-tl.gif) 0 0 no-repeat; }
.box .decor-bw div {background: url(../images/decor/decor-white-tr.gif) 100% 0 no-repeat; }	

.box .label-caption {
	background: #3493cd;
	min-height:27px;
	height:auto;
	}
* HTML .box .label-caption {
	height:27px;
	}
.box .label-caption h2 {
	margin-top:-8px;
	text-align:center;
	font-size:.85em;
	color: #FFF;
	}
/* Decor box Green
----------------------------------------------- */	
.box.grey {
	border:2px solid #bdbdbd;
	}	
.box.grey .decor-b { background:url(../images/decor/box-grey-bl.gif) 0 100% no-repeat; }	
.box.grey .decor-b div { background:url(../images/decor/box-grey-br.gif) 100% 0 no-repeat; }
.box.grey .label-caption .decor-t {	background:url(../images/decor/box-grey-tl.gif) 0 100% no-repeat;	}	
.box.grey .label-caption .decor-t div { background:url(../images/decor/box-grey-tr.gif) 100% 0 no-repeat; }
.box.grey .label-caption { background: #bdbdbd;	}
.box.grey .decor-bw {background: #ececec url(../images/decor/decor-grey-tl.gif) 0 0 no-repeat; }
.box.grey .decor-bw.transparent {background: url(../images/decor/decor-grey-tl.gif) 0 0 no-repeat; }
.box.grey .decor-bw div {background: url(../images/decor/decor-grey-tr.gif) 100% 0 no-repeat; }	

.box.grey .additional-info {
	background:#ececec;
	min-height:27px;
	height:auto;
	}
* HTML .box.grey .additional-info {
	hheight:27px;
	}
	

/* Products
----------------------------------------------- */
.box .product {
	display:inline;
	float:left;
	margin: 0 16px 16px 0;
	width:160px;
	border:2px solid #f0f5f8;
	background: #f0f5f8;
	}
.box .product .decor-t,
.box .product .decor-t div {
	position: relative;
	height:8px;
	}
.box .product .decor-t {
	top:-2px;
	left:-2px;
	background: url(../images/decor/products/decor-tl.gif) 0 0 no-repeat;
	}
.box .product .decor-t div {
	right: -4px;
	overflow:hidden;
	background:  url(../images/decor/products/decor-tr.gif) 100% 0 no-repeat;
	}
.box .product .note {
	min-height:90px;
	height:auto;
	text-align:center;
	}
* HTML .box .product .note {
	height:90px;
	}
.box .product .decor-bw,
.box .product .decor-bw div {
	height:6px;
	overflow:hidden;
	}
	
.box .product .decor-bw { background: url(../images/decor/products/decor-white-bl.gif) 0 0 no-repeat; }
.box .product .decor-bw div { background: url(../images/decor/products/decor-white-br.gif) 100% 0 no-repeat; }	
	
.box .product .decor-b {
	position:relative;
	top:2px;
	left:-2px;
	height:8px;
	background: url(../images/decor/products/decor-bl.gif) 0 100% no-repeat;
	}
.box .product .label {
	background: #FFF;
	}
.box .product .decor-b div {
	position:relative;
	right:-4px;
	height:8px;
	background: url(../images/decor/products/decor-br.gif) 100% 0 no-repeat;
	}
.box .product .label h3 {
	padding: 8px 0 0 0;
	font-size:.8em;
	font-weight:bold;
	color:#2174a6;
	text-align:center;
	}
	
/* Products Small
----------------------------------------------- */
.box .product.small {
	margin: 0 12px 35px 0;
	width:123px;
	border:2px solid #d9e3af;
	background: #d9e3af;
	}
.box .product.small .label h3 {
	font-weight:normal;
	}
	
.box .product.small .decor-t { background: url(../images/decor/products/decor-green-tl.gif) 0 0 no-repeat; }
.box .product.small .decor-t div { background:  url(../images/decor/products/decor-green-tr.gif) 100% 0 no-repeat; }
.box .product.small .decor-b { background: url(../images/decor/products/decor-green-bl.gif) 0 100% no-repeat; }
.box .product.small .decor-b div { background: url(../images/decor/products/decor-green-br.gif) 100% 0 no-repeat; }
.box .product.small .decor-bw { background: url(../images/decor/products/decor-cur-green-bl.gif) 0 0 no-repeat; }
.box .product.small .decor-bw div { background: url(../images/decor/products/decor-cur-green-br.gif) 100% 0 no-repeat; }	

/* Products Green
----------------------------------------------- */
.box .product.green {
	border:2px solid #d9e3af;
	background: #d9e3af;
	}
.box .product.green .label h3 {
	font-weight:normal;
	}
	
.box .product.green .decor-t { background: url(../images/decor/products/decor-green-tl.gif) 0 0 no-repeat; }
.box .product.green .decor-t div { background:  url(../images/decor/products/decor-green-tr.gif) 100% 0 no-repeat; }
.box .product.green .decor-b { background: url(../images/decor/products/decor-green-bl.gif) 0 100% no-repeat; }
.box .product.green .decor-b div { background: url(../images/decor/products/decor-green-br.gif) 100% 0 no-repeat; }
.box .product.green .decor-bw { background: url(../images/decor/products/decor-cur-green-bl.gif) 0 0 no-repeat; }
.box .product.green .decor-bw div { background: url(../images/decor/products/decor-cur-green-br.gif) 100% 0 no-repeat; }	

/* Box-medium
----------------------------------------------- */	
.box-medium,
.box-medium-grey,
.box-medium-green {
	border:2px solid #3493cd;
	margin-bottom:10px;
	float:left; 
	margin-right:8px; 
	width:275px;
	}
.box-medium .content,
.box-medium-grey .content,
.box-medium-green .content {
	margin:0 0 0 10px;
	background: #FFF;
	color: #2a7daf;
	font-size:.85em;	
	}	
.box-medium .decor-b, 
.box-medium .decor-b div, 
.box-medium .decor-t, 
.box-medium .decor-t div,
.box-medium-grey .decor-b, 
.box-medium-grey .decor-b div, 
.box-medium-grey .decor-t, 
.box-medium-grey .decor-t div,
.box-medium-green .decor-b, 
.box-medium-green .decor-b div, 
.box-medium-green .decor-t, 
.box-medium-green .decor-t div {
	position:relative;
	height:9px;
	}
	
.box-medium .decor-t {	background:url(../images/decor/box-medium-blue-tl.gif) 0 100% no-repeat;}	
.box-medium .decor-t div { background:url(../images/decor/box-medium-blue-tr.gif) 100% 0 no-repeat; }	
.box-medium .decor-b {	background:url(../images/decor/box-medium-blue-bl.gif) 0 100% no-repeat;	}	
.box-medium .decor-b div { background:url(../images/decor/box-medium-blue-br.gif) 100% 0 no-repeat; }
.box-medium .label-caption .decor-t {	background:url(../images/decor/box-medium-blue-tl.gif) 0 100% no-repeat;	}	
.box-medium .label-caption .decor-t div { background:url(../images/decor/box-medium-blue-tr.gif) 100% 0 no-repeat; }


.box-medium .decor-bw,
.box-medium .decor-bw div ,
.box-medium-grey .decor-bw,
.box-medium-grey .decor-bw div,
.box-medium-green .decor-bw,
.box-medium-green .decor-bw div  {
	height:7px;
	overflow:hidden;
	}

.box-medium .decor-bw {background: url(../images/decor/box-medium-highblue-tl.gif) 0 0 no-repeat; }
.box-medium .decor-bw div {background: url(../images/decor/box-medium-highblue-tr.gif) 100% 0 no-repeat; }	

.box-medium .label-caption,
.box-medium-grey .label-caption,
.box-medium-green .label-caption {
	background: #3493cd;
	min-height:27px;
	height:auto;
	}
* HTML .box-medium .label-caption,
* HTML .box-medium-grey .label-caption,
* HTML .box-medium-green .label-caption {
	height:27px;
	}
.box-medium .label-caption h2,
.box-medium-grey .label-caption h2,
.box-medium-green .label-caption h2 {
	margin-top:-4px;
	text-align:center;
	font-size:.8em;
	color: #FFF;
	}
	
/* Decor box Grey
----------------------------------------------- */	
.box-medium-grey {
	border:2px solid #bdbdbd;
	}	
.box-medium-grey .decor-b { background:url(../images/decor/box-medium-grey-bl.gif) 0 100% no-repeat; }	
.box-medium-grey .decor-b div { background:url(../images/decor/box-medium-grey-br.gif) 100% 0 no-repeat; }
.box-medium-grey .label-caption .decor-t {	background:url(../images/decor/box-medium-grey-tl.gif) 0 100% no-repeat;	}	
.box-medium-grey .label-caption .decor-t div { background:url(../images/decor/box-medium-grey-tr.gif) 100% 0 no-repeat; }
.box-medium-grey .label-caption { background: #bdbdbd;	}

.box-medium-grey .decor-bw {background: url(../images/decor/box-medium-highgrey-tl.gif) 0 0 no-repeat; }
.box-medium-grey .decor-bw div {background: url(../images/decor/box-medium-highgrey-tr.gif) 100% 0 no-repeat; }	

.box-medium-grey .additional-info {
	background:#ececec;
	min-height:27px;
	height:auto;
	}
* HTML .box-medium-grey .additional-info {
	hheight:27px;
	}

/* Decor box Green
----------------------------------------------- */	
.box-medium-green {
	border:2px solid #b3c85f;
	}	
.box-medium-green .decor-b { background:url(../images/decor/box-medium-green-bl.gif) 0 100% no-repeat; }	
.box-medium-green .decor-b div { background:url(../images/decor/box-medium-green-br.gif) 100% 0 no-repeat; }
.box-medium-green .label-caption .decor-t {	background:url(../images/decor/box-medium-green-tl.gif) 0 100% no-repeat;	}	
.box-medium-green .label-caption .decor-t div { background:url(../images/decor/box-medium-green-tr.gif) 100% 0 no-repeat; }
.box-medium-green .label-caption { background: #b3c85f;	}

.box-medium-green .decor-bw {background: url(../images/decor/box-medium-highgreen-tl.gif) 0 0 no-repeat; }
.box-medium-green .decor-bw div {background: url(../images/decor/box-medium-highgreen-tr.gif) 100% 0 no-repeat; }	

.box-medium-green .additional-info {
	background:#ececec;
	min-height:27px;
	height:auto;
	}
* HTML .box-medium-green .additional-info {
	hheight:27px;
	}
	
