@import "box.css";

* {
	padding: 0;
	margin: 0;
	}
body {
	background: #FFF;
	color: #000;
	font: 100% Arial, Verdana, sans-serif;
	}
img { border: 0; }
.clear {
	clear: both;
	width: 100%;
	overflow: hidden;
	height: 1px;
	}
.offscreen {
	z-index: 99;
	position: absolute;
	top: -9000px;
	left: -9000px;
	}

.highlight {
	color: #1d7fb0;
	width:150px;
	text-align:center;
	
	}
.additional-info 
{
    vertical-align:middle
}
LI.end 
{
    
}
	
/* Decorative Layers
----------------------------------------------- */
#root {
	background: #fff;
	width: 905px;
	}

/* Content
----------------------------------------------- */

/* Container DIVs
----------------------------------------------- */
#content-sidebar-container {
	float: right;
	width: 741px;
	}
#content-sidebar-container, #left-column {
	margin-top: 2px;
	}
#left-column {
	float:left;
	padding:0 9px;
	width:146px;
	}
* HTML #left-column {
	width:164px;
	w\idth:146px;
	}
#content {
	float: left;
	width: 577px;
	min-height: 323px;
	height: auto;
	}
	* HTML #content {
		height: 323px;
		}
#sidebar {
	float:left;
	padding:0 9px;
	width:146px;
	}
* HTML #sidebar {
	width: 164px;
	w\idth: 146px;
	}

/* One-column specific styles
----------------------------------------------- */
#one-column #content-sidebar-container {
	margin-left: 0;
	float: left;
	width: auto;
	}
#one-column #content {
	width: 870px;
	padding: 0 18px 18px 18px;
	}
	* HTML #one-column #content {
		width: 906px;
		w\idth: 870px;
		}

/* Logo
----------------------------------------------- */
#logo {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 0px;
	z-index:2;
	}
#logo img {
	width: 226px;
	height: 52px;
	}

/* Top Links
----------------------------------------------- */
#DesinerPanel {
    text-decoration:none;
    color:#FFF;
    padding: 0 6px;
    font-size: 11;
}
#utility-links {
	float: right;
	width:670px;
	}
#utility-links a {
	text-decoration: none;
	color:#FFF;	
	}
#utility-links ul {
	list-style: none;
	}
#utility-links li {
	float: right;
	padding: 0 6px;
	border-left:1px solid #FFF;
	font-size: 11;
	}
/* Meta Navigation
----------------------------------------------- */
#meta-nav {
	float: right;
	padding: 0px 12px 14px 0;
	}
#meta-nav a {
	text-decoration: none;
	color:#FFF;	
	}
#meta-nav ul {
	list-style: none;
	}
#meta-nav li {
	float: right;
	padding: 0 6px;
	}
#meta-nav li.help a {
	background: url(../images/decor/icons/help.gif) 0 1px no-repeat;
	padding-left: 20px;
	font-size:.7em;
	font-weight:bold;
	}

/* Footer
----------------------------------------------- */
#required-links {
	min-height:39px;
	height:auto;
	background: #E1ECF2;
	color:#808080;
	}
* HTML #required-links {
	height:39px;
	}
#required-links ul {
	float:right;
	margin-top:4px;
	text-align: right;
	}
#required-links li {
	float:left;
	display: inline;
	list-style: none;
	font-size:.6em;
	margin: 0 8px 0 0;
	}
#required-links li span {
	float:left;
	width:170px;
	margin:3px 8px 0 8px;
	}
#required-links li img {
	width:88px;
	height:31px;
	}
	
#footer {
	clear: both;
	width: 905px;
	min-height: 30px;
	height:auto;
	overflow: hidden;
	background: #3f92c6 url(../images/decor/footer_bgr.gif) repeat-x;
	}
* HTML #footer {
		height:30px;
}
.copyright {
	float:left;
	padding:4 3 0 10px;
	font-size: 0.6em;
	color:#FFF;
	}		
#footer-nav {
	float:right;
	/*padding:11px 17px 0 0;*/
	text-decoration: none;
	color: #FFF;
	}
.footerNavCellClass A{
	font-size: 0.6em;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border-style:none;
	padding: 0 3 0 6px;
	}
#footer ul.footer-nav li a {
	
	}
#footer ul.footer-nav li.end {
	background: none;
	}

/* Meta Navigation
----------------------------------------------- */
#meta {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	width: 905px;
	min-height:59px;
	height:auto;
	background: #2174a6 url(../images/decor/header_bgr.gif) 0 100% repeat-x;
	z-index:1;
	}
* HTML #meta {
	height:59px;
	}

/* Powered by NEATO
----------------------------------------------- */
#powered-by {
	position:absolute;
	top:0;
	left:700px;
	z-index:3;
	}
	
/* Forms
----------------------------------------------- */

input {
	padding:2px;
	/*border:1px solid #919699;*/
}

.button {
	padding:2px;
	border:0px none;
}

/* Select product
----------------------------------------------- */
.select-product {
	position:relative;
	margin: -8px 0 8px 20px;
	vertical-align:middle;
	}
* HTML .select-product {
	margin: -4px 0 7px 10px;
	vertical-align:middle;
	}	
	
.select-product li {
	float: left;
	list-style: none;
	margin-right:50px;
	font-size:.8em;
}
.select-product li.end {
	margin-right:0;
	}
.select-product input , 
.select-product select {
	font-size:.85em;
	}
.select-product li.switch a{
	display:block;
	width:65px;
	height:20px;
	
	}	
.select-product li.switch {
	width:65px;
	height:20px;
	background: url(../images/decor/icons/switch.gif) no-repeat;
	}
.select-product li.switch span {
	display:none;
	}
	
/*---------New styles--------- */
.CreateAccountInfoText {
	font-size: 8pt;
	color: #2A7DAF;
	padding: 0 0 0 5;
	}

.CreateAccountInfoText2 {
	font-size: 11pt;
	color: #2A7DAF;
	padding: 0 0 0 5;
	}

.CreateAccountTypeText {
	font-size: 8pt;
	color: #000000;
	}

.CreateAccountHowFoundLink {
	font-size: 8pt;
	color: #999999;
    text-decoration: none;
}

.SelectRetailerLink {
	font-size: 8pt;
	color: #bdbdbd;
}
