<%@ Page language="c#" Codebehind="Default.aspx.cs" AutoEventWireup="false" Inherits="Neato.Cpt.WebAdmin.DefaultPage" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>CPT Management</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <FRAMESET COLS="20%, *">
    <FRAME SRC="AdminMenu.aspx" name="Menu">
    <FRAME SRC="Announcements.aspx" name="Content">
  </FRAMESET>
  <body MS_POSITIONING="GridLayout">
	
    <form id="Form1" method="post" runat="server">
    </form>
	
  </body>
</html>
