<%@ Page language="c#" Codebehind="SiteClosing.aspx.cs" AutoEventWireup="false" Inherits="Neato.Cpt.WebAdmin.SiteClosing" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>SiteClosing</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<span>Opened sessions: </span>
			<asp:Label Runat="server" ID="lblSessionsCount" />
			<asp:Button Runat="server" ID="btnBlockUsers" />
			<asp:Button Runat="server" ID="btnBlockSite" />
			<asp:Button Runat="server" ID="btnRefresh" />
		</form>
	</body>
</HTML>
