<%@ Page language="c#" Codebehind="TestAddImage.aspx.cs" AutoEventWireup="false" Inherits="Neato.Cpt.WebAdmin.TestAddImage" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>TestAddImage</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </HEAD>
  <body MS_POSITIONING="GridLayout">
	
    <form id="Form1" method="post" runat="server">
        FILE:<input id="ctlFile" runat="server" type="file"><br>
        <asp:Button ID="btnSubmit" Runat="server" Text="Submit"/><br/>
        
        RESULT ID:<asp:Label id="lblId" runat="server" />
     </form>
	
  </body>
</HTML>
